<div class="row w-75 mx-auto" style="margin-top: 150px;">
    <div class="col-md-4 col-lg-4 col-sm-4 my-auto">
        <h2>Sign in<br>
           votre profile.</h2>
            <p class="fs-4">si vous n'avez pas un compte <br>
              <a style="color: #EB4747;" class="text-decoration-none" 
              [routerLink]="['/signup']">  vous pouvez s'authentifier ici! </a></p>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4 text-center"><img src="assets/in.png" class="img-fluid w-50"></div>
    <div class="col-md-4 col-lg-4 col-sm-4 my-auto">
        <form>
        <input class="mb-3" type="text" id="Email" name="Email" placeholder="Email" required>
        <input type="password" id="Password" name="Password" placeholder="Password" required><br>
        <button  
        class="btn  float-end mt-3 px-5 fw-bold" 
         style="color:white;
          background-color: #EB4747;"> Sign in</button>
      </form>
    </div>


</div>
<p class="d-flex justify-content-center text-secondary mt-5 mb-5"> Or continue with</p>
<div class="row mb-5 w-50 mx-auto">
    <div class="col-md-6 col-sm-6 col-lg-6 d-flex justify-content-end">
<img src="assets/gg.png" class="img-fluid w-25 ">
    </div>
    <div class="col-md-6 mx-auto col-sm-6 col-lg-6 d-flex justify-content-start">
        <img src="assets/ff.png" class="img-fluid w-25">
    </div>
</div>