<div class="row w-75 mx-auto mb-5" style="margin-top: 100px;">
    <div class="col">
    <img src="assets/course1.png" class="img-fluid ">
</div>
</div>
<div class="row w-75 mx-auto mt-4 shadow mb-3">
<div class="col-md-4 col-lg-4 col-sm-4">
    <img src="assets/Ang.png" class="img-fluid ">
</div>
<div class="col-md-8 col-lg-8 col-sm-8">
<div class="row"><h4 class="mb-3" style="color:#E22D55;">Chapter name</h4></div>
<div class="row">
    <div class="col-lg-4 my-auto"><img class="img-fluid w-25 float-start me-3 " src="assets/profile.png">
        <h4 class="my-auto mt-2 ">Expert Name</h4>
        <br> <h4 class="my-auto mt-2 ">Expertise</h4>
    </div>
    
</div>
<div class="row mt-4">
    <p class="fs-3">Small description about  this chapter of the course</p>
</div>
<div class="row mt-4 float-end d-flex justify-items-end">
    <a class="fs-3 text-decoration-none" style="color:#E22D55;" [routerLink]="['/courseang']">Start Learning ></a>
</div>
</div>
</div>
<div class="row w-75 text-secondary mx-auto mt-4 shadow mb-3">
    <div class="col-md-4 col-lg-4 col-sm-4">
        <img src="assets/Ts.png" class="img-fluid ">
    </div>
    <div class="col-md-8 col-lg-8 col-sm-8">
    <div class="row"><h4 class="mb-3" >Chapter name</h4></div>
    <div class="row">
        <div class="col-lg-4 my-auto"><img class="img-fluid w-25 float-start me-3 " src="assets/disexp.png">
            <h4 class="my-auto mt-2 ">Expert Name</h4>
            <br> <h4 class="my-auto mt-2 ">Expertise</h4>
        </div>
        
    </div>
    <div class="row mt-4">
        <p class="fs-3">Small description about  this chapter of the course</p>
    </div>
  
    </div>
    </div>
    <div class="row w-75 text-secondary mx-auto mt-4 shadow mb-3">
        <div class="col-md-4 col-lg-4 col-sm-4">
            <img src="assets/angg.png" class="img-fluid ">
        </div>
        <div class="col-md-8 col-lg-8 col-sm-8">
        <div class="row"><h4 class="mb-3" >Chapter name</h4></div>
        <div class="row">
            <div class="col-lg-4 my-auto"><img class="img-fluid w-25 float-start me-3 " src="assets/disexp.png">
                <h4 class="my-auto mt-2 ">Expert Name</h4>
                <br> <h4 class="my-auto mt-2 ">Expertise</h4>
            </div>
            
        </div>
        <div class="row mt-4">
            <p class="fs-3">Small description about  this chapter of the course</p>
        </div>
      
        </div>
        </div>