<div class="row mb-4  mx-auto d-flex justify-content-between" style="margin-top: 200px;">
    <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
       <div class="p-3" style="background: linear-gradient(to bottom, #E22D55, #E76986); border-radius: 10px;">
    <h6 class="text-white">Category</h6>
    <hr class="w-75" style="color: white;">
    <a class="text-white text-decoration-none" routerLink="">Design</a><br>
    <a class="text-white text-decoration-none" routerLink="">3D</a><br>
    <a class="text-white text-decoration-none" routerLink="">Programming</a><br>
    <a class="text-white text-decoration-none" routerLink="">Marketing</a><br>
    <a class="text-white text-decoration-none" routerLink="">Development</a><br>
    <a class="text-white text-decoration-none" routerLink="">Business</a><br>
    <a class="text-white text-decoration-none" routerLink="">Devops</a><br>
    <a class="text-white text-decoration-none" routerLink="">CLoud</a><br>
    <a class="text-white text-decoration-none" routerLink="">Video Editing</a> <br>
    <h6 class="text-white mt-5">Pricing</h6>
    <hr class="w-75" style="color: white;">
    
    <div class="range">
      <input type="range" class="form-range" min="0" max="100" id="customRange2" />
    </div>
    <h6 class="text-white mt-5">Duration(in months)</h6>
    <hr class="w-75" style="color: white;">
    
    <a class="text-white text-decoration-none" routerLink="">Less than 1 Month</a><br>
    <a class="text-white text-decoration-none" routerLink="">1 -2 Months</a><br>
    <a class="text-white text-decoration-none" routerLink="">2 -4 Months</a><br>
    <h6 class="text-white mt-5">Rating</h6>
    <hr class="w-75" style="color: white;">
    
    <a class="text-white text-decoration-none" routerLink="">3 Stars</a><br>
    <a class="text-white text-decoration-none" routerLink="">4 Stars</a><br>
    <a class="text-white text-decoration-none" routerLink="">5 Stars</a><br>
</div>
</div>
<div class="col-lg-9 col-md-9 col-sm-9">
    <div class="row">
    <div class="col-lg-4 col-md-4  col-sm-4">
        <div class="card" style="width: 18rem; border-radius: 20px;">
            <img class="card-img-top" src="assets/cours1.png" alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                        <img class="img-fluid w-25 float-start me-3" src="assets/profile.png">
                        <h6 class="ms-3 mt-2">Expert Name</h6>
        </div>
            <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png"></div>
             </div>
              <h5 class="card-title">Small description about  this cours</h5>
              <hr class="w-75 mx-auto">
              <div class="row d-flex justify-content-center"> 
                <a  class="btn w-50 text-center" [routerLink]="['/detailexp']"  style="background-color: #24D198; color: white;">Contact</a>
             
            </div>
          </div>
    </div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>

</div>
<div class="row mt-3">
    <div class="col-lg-4 col-md-4  col-sm-4">
        <div class="card" style="width: 18rem; border-radius: 20px;">
            <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                        <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                        <h6 class="ms-3 mt-2">Expert Name</h6>
        </div>
            <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
             </div>
              <h5 class="card-title">Small description about  this cours</h5>
              <hr class="w-75 mx-auto">
              <div class="row d-flex justify-content-center"> 
                <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
             
            </div>
          </div>
    </div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    
<div class="card" style="width: 18rem; border-radius: 20px;">
    <img class="card-img-top" src="assets/cours1.png" alt="Card image cap">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                <img class="img-fluid w-25 float-start me-3" src="assets/profile.png">
                <h6 class="ms-3 mt-2">Expert Name</h6>
</div>
    <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png"></div>
     </div>
      <h5 class="card-title">Small description about  this cours</h5>
      <hr class="w-75 mx-auto">
      <div class="row d-flex justify-content-center"> 
        <a href="#" class="btn w-50 text-center" style="background-color: #24D198; color: white;">Contact</a>
     
    </div>
  </div>
</div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>

</div>
<div class="row mt-3">
    <div class="col-lg-4 col-md-4  col-sm-4">
        <div class="card" style="width: 18rem; border-radius: 20px;">
            <img class="card-img-top" src="assets/cours1.png" alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                        <img class="img-fluid w-25 float-start me-3" src="assets/profile.png">
                        <h6 class="ms-3 mt-2">Expert Name</h6>
        </div>
            <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png"></div>
             </div>
              <h5 class="card-title">Small description about  this cours</h5>
              <hr class="w-75 mx-auto">
              <div class="row d-flex justify-content-center"> 
                <a href="#" class="btn w-50 text-center" style="background-color: #24D198; color: white;">Contact</a>
             
            </div>
          </div>
    </div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>

</div>
<div class="row mt-3">
    <div class="col-lg-4 col-md-4  col-sm-4">
        <div class="card" style="width: 18rem; border-radius: 20px;">
            <img class="card-img-top" src="assets/cours1.png" alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                        <img class="img-fluid w-25 float-start me-3" src="assets/profile.png">
                        <h6 class="ms-3 mt-2">Expert Name</h6>
        </div>
            <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png"></div>
             </div>
              <h5 class="card-title">Small description about  this cours</h5>
              <hr class="w-75 mx-auto">
              <div class="row d-flex justify-content-center"> 
                <a href="#" class="btn w-50 text-center" style="background-color: #24D198; color: white;">Contact</a>
             
            </div>
          </div>
    </div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>

</div>
<div class="row mt-3">
    <div class="col-lg-4 col-md-4  col-sm-4">
        <div class="card" style="width: 18rem; border-radius: 20px;">
            <img class="card-img-top" src="assets/cours1.png" alt="Card image cap">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                        <img class="img-fluid w-25 float-start me-3" src="assets/profile.png">
                        <h6 class="ms-3 mt-2">Expert Name</h6>
        </div>
            <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png"></div>
             </div>
              <h5 class="card-title">Small description about  this cours</h5>
              <hr class="w-75 mx-auto">
              <div class="row d-flex justify-content-center"> 
                <a href="#" class="btn w-50 text-center" style="background-color: #24D198; color: white;">Contact</a>
             
            </div>
          </div>
    </div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/disabled.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-sm-8 my-auto">
                    <img class="img-fluid w-25 float-start me-3" src="assets/disexp.png">
                    <h6 class="ms-3 mt-2">Expert Name</h6>
    </div>
        <div class="col-md-4 col-lg-4 col-sm-4 "> <img class="img-fluid  float-end " src="assets/stars.png" style="color: gray;"></div>
         </div>
          <h5 class="card-title">Small description about  this cours</h5>
          <hr class="w-75 mx-auto">
          <div class="row d-flex justify-content-center"> 
            <button href="#" class="btn w-50 text-center btn-secondary " style=" color: white;" disabled>Contact</button>
         
        </div>
      </div>
</div>
</div>

</div>


</div>
</div>