<div class="row w-75 mx-auto" style="margin-top: 150px;">
    <div class="col-md-3 col-lg-3 col-sm-3 my-auto">
        <h2>Sign Up For free<br>
          <span style="color: #E22D55;">  and join us!</span></h2>
            <p class="fs-4">If you already have an 
                account <br>
              <a style="color: #E22D55;" class="text-decoration-none" 
              [routerLink]="['/signin']">  you can sign in here! </a></p>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6"><img src="assets/up.png" class="img-fluid "></div>
    <div class="col-md-3 col-lg-3 col-sm-3 my-auto">
        <form>
        <input type="text"  name="nom" placeholder="Nom" required>
        <input type="text" name="prénom" placeholder="Prénom" required>
        <input type="text"  name="Email" placeholder="Email" required>
        <input type="text"  name="Adresse" placeholder="Adresse" required>
        <input type="number"  name="Email" placeholder="Phone number" required>
        <input type="date"  name="Date de naissance" placeholder="Date de naissance" required>
        <input type="password" id="Password" name="Password" placeholder="Password" required>
        <input type="password" id="Password" name="Password" placeholder="Confirm Password" required>

        <br>
        <button  
        class="btn  float-end mt-3 px-5 fw-bold" 
         style="color:white;
          background-color: #E22D55;"> Sign up</button>
      </form>
    </div>


</div>
<p class="d-flex justify-content-center text-secondary mt-5 mb-5"> Or continue with</p>
<div class="row mb-5 w-50 mx-auto">
    <div class="col-md-6 col-sm-6 col-lg-6 d-flex justify-content-end">
<img src="assets/gg.png" class="img-fluid w-25 ">
    </div>
    <div class="col-md-6 mx-auto col-sm-6 col-lg-6 d-flex justify-content-start">
        <img src="assets/ff.png" class="img-fluid w-25">
    </div>
</div>