
    <div class="row w-75 mx-auto shadow mb-3 " style="border-radius: 15px; margin-top: 150px;">
        <div class="col-md col-lg col-sm text-center ">
            <div class="row"> <h4 style="color: #E22D55;">Question 1</h4></div>
            <div class="row"><h6>Small description about  this chapter of the course Small description about  this chapter<br> 
                of the course Small description about  this chapter of the course Small <br>description about  this chapter of
                 the course</h6></div>
<div class="row ">
    <div class="col-lg col-md col-sm mx-auto">
    <img src="assets/quiz.png" class="img-fluid w-25"></div></div>
        </div>
    </div>

    <h3 class="d-flex justify-content-center mt-3 mb-3" style="color: #E22D55;">Answers</h3>

<div class="row p-2 w-75 mx-auto shadow mb-5 mt-3 " style="border-radius: 15px; ">
        <div class="col-md col-lg col-sm text-center ">
            <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 my-auto  d-flex justify-content-start" ><p class="fs-4">Answer one</p></div> 
            <div class="col-lg-3 col-md-3 my-auto col-sm-3"><input type="radio" id="answer" name="answer" value="answer" /></div>   
            </div>
            <hr class="w-75 mx-auto" style="color: #E22D55;">
            <div class="row"> 
                <div class="col-lg-9 col-md-9 col-sm-9 my-auto  d-flex justify-content-start" ><p class="fs-4">Answer two</p></div> 
            <div class="col-lg-3 col-md-3 my-auto col-sm-3"><input type="radio" id="answer" name="answer" value="answer" /></div>   
            </div>
            <hr class="w-75 mx-auto" style="color: #E22D55;">
            <div class="row"> 
                <div class="col-lg-9 col-md-9 col-sm-9 my-auto  d-flex justify-content-start" ><p class="fs-4">Answer three</p></div> 
            <div class="col-lg-3 col-md-3 my-auto col-sm-3"><input type="radio" id="answer" name="answer" value="answer" /></div>   
            </div>
        </div>

        </div>
        <div class="row w-75 mx-auto">
            <div class="col-lg-12">
        <button class="btn w-25 text-white text-center float-end mb-3" 
        style="background-color: #E22D55;"  data-bs-toggle="modal" data-bs-target="#exampleModal">Continue</button></div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
               <h2 class="fw-light" style="color: #E22D55;">Congrats</h2>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row">
                <p class="text-center">You obtained a badge for collecting the most points this <br>week/month!</p></div>
            <div class="row mx-auto">
                <div class="col-lg-12 d-flex justify-content-center">
                <img src="assets/b1.png" class="img-fluid w-50"></div>
                
            </div>
            <div class="row text-center mt-2"><p class="fs-5">Student of the week </p></div>
            
          </div>
        </div>
      </div>