<div class="row  mx-auto"><img src="assets/map.png" class="img-fluid " style="background-size: cover;"  ></div>
<div class="row mt-4 mb-3">
    <div class="col-md-6">
        <h1 style="color:#EB4747;"> cliniques et hopitaux <br>
        à proximité</h1>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-3"> <img src="assets/location.png" class="img-fluid w-50"></div>
        <div class="col-md-7 my-auto">
            <div class="row"> <h4>SANDY HILL</h4></div>
            <div class="row">A-28 Second Floor,<br>
                Sector 64 Noida, 20130102</div>
        </div>
      </div>

    </div>
</div>
<div class="row w-75 mx-auto mt-3 mb-3">
    <div class="col-md-4 col-lg-4 col-sm-4">
        <img src="assets/hop.png" class="img-fluid w-75 shadow">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
        <img src="assets/hop.png" class="img-fluid w-75 shadow">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
        <img src="assets/hop.png" class="img-fluid w-75 shadow">
    </div>
</div>
<div class="row w-75 mx-auto mt-3">
    <div class="col-md-4 col-lg-4 col-sm-4">
        <img src="assets/hop.png" class="img-fluid w-75 shadow">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
        <img src="assets/hop.png" class="img-fluid w-75 shadow">
    </div>
    <div class="col-md-4 col-lg-4 col-sm-4">
        <img src="assets/hop.png" class="img-fluid w-75 shadow">
    </div>
</div>