<div class="row w-75 mx-auto " style="margin-top: 100px;">
<div class="col-md-6 col-lg-6 col-sm-6"><img src="assets/recruit.png" class="img-fluid"  ></div>
<div class="col-md-6 col-lg-6 col-sm-6 my-auto"> 
    <h1>Recruit from our <span style="color: #E22D55;">Elites</span></h1>
    <p class="fs-4">Find the best Employer that suits you in any<br> domain.</p>
</div>


</div>
<section>
    <div class="row mx-auto d-flex justify-content-between">
        <div class="col-lg-3 col-md-3 col-sm-3 mx-auto">
            <div class="p-3" style="background: linear-gradient(to bottom, #E22D55, #E76986); border-radius: 10px;">
         <h6 class="text-white">Category</h6>
         <hr class="w-75" style="color: white;">
         <a class="text-white text-decoration-none" routerLink="">Design</a><br>
         <a class="text-white text-decoration-none" routerLink="">3D</a><br>
         <a class="text-white text-decoration-none" routerLink="">Programming</a><br>
         <a class="text-white text-decoration-none" routerLink="">Marketing</a><br>
         <a class="text-white text-decoration-none" routerLink="">Development</a><br>
         <a class="text-white text-decoration-none" routerLink="">Business</a><br>
         <a class="text-white text-decoration-none" routerLink="">Devops</a><br>
         <a class="text-white text-decoration-none" routerLink="">CLoud</a><br>
         <a class="text-white text-decoration-none" routerLink="">Video Editing</a> <br>
     </div>
     </div>
     <div class="col-lg-9 col-md-9 col-sm-9">
   <div class="row">
        <div class="col-lg-4 col-md-4  col-sm-4">
            <div class="card" style="width: 18rem; border-radius: 20px;">
                <img class="card-img-top" src="assets/etu1.png" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title text-center">Name surname</h5>
                        <div class="row text-center"><p>Domains </p></div>
                        <hr class="w-75 mx-auto">
                      </div>
                    
                   <div class="row">
                  <h6 class="card-title text-center">Small description about  this person</h6>
                  <hr class="w-75 mx-auto">
                </div>
                
                    <div class="row">
                   <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="row">
                    <img src="assets/b1.png" class="img-fluid"></div>
                 
                 <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
                    Domain</p></div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="row">
                    <img src="assets/b2.png" class="img-fluid"></div>
                 
                 <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
                    Domain</p></div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="row">
                    <img src="assets/b3.png" class="img-fluid"></div>
                 
                 <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
                    Domain</p></div>
                </div>
                  <div class="row">
                    <button type="button"  class="btn " style=" color:#E22D55;"  data-bs-toggle="modal" data-bs-target="#exampleModal">contact</button>
                    
                      
                </div>
              </div>
        </div>
    </div>
   
    
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/etu2.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title text-center">Name surname</h5>
                <div class="row text-center"><p>Domains </p></div>
                <hr class="w-75 mx-auto">
              </div>
            
           <div class="row">
          <h6 class="card-title text-center">Small description about  this person</h6>
          <hr class="w-75 mx-auto">
        </div>
        
            <div class="row">
           <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b1.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b2.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b3.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
          <div class="row">
            <button type="button"  class="btn " style=" color:#E22D55;"  data-bs-toggle="modal" data-bs-target="#exampleModal">contact</button>
        </div>
      </div>
</div>
</div>


</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/etu3.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title text-center">Name surname</h5>
                <div class="row text-center"><p>Domains </p></div>
                <hr class="w-75 mx-auto">
              </div>
            
           <div class="row">
          <h6 class="card-title text-center">Small description about  this person</h6>
          <hr class="w-75 mx-auto">
        </div>
        
            <div class="row">
           <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b1.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b2.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b3.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
          <div class="row">
            <button type="button"  class="btn " style=" color:#E22D55;"  data-bs-toggle="modal" data-bs-target="#exampleModal">contact</button>
        </div>
      </div>
</div>
</div>


</div>
     </div>
     <div class="row mt-3">
        <div class="col-lg-4 col-md-4  col-sm-4">
            <div class="card" style="width: 18rem; border-radius: 20px;">
                <img class="card-img-top" src="assets/etu4.png" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title text-center">Name surname</h5>
                        <div class="row text-center"><p>Domains </p></div>
                        <hr class="w-75 mx-auto">
                      </div>
                    
                   <div class="row">
                  <h6 class="card-title text-center">Small description about  this person</h6>
                  <hr class="w-75 mx-auto">
                </div>
                
                    <div class="row">
                   <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="row">
                    <img src="assets/b1.png" class="img-fluid"></div>
                 
                 <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
                    Domain</p></div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="row">
                    <img src="assets/b2.png" class="img-fluid"></div>
                 
                 <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
                    Domain</p></div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4">
                    <div class="row">
                    <img src="assets/b3.png" class="img-fluid"></div>
                 
                 <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
                    Domain</p></div>
                </div>
                  <div class="row">
                    <button type="button"  class="btn " style=" color:#E22D55;"  data-bs-toggle="modal" data-bs-target="#exampleModal">contact</button>
                </div>
              </div>
        </div>
    </div>
   
    
</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/etu5.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title text-center">Name surname</h5>
                <div class="row text-center"><p>Domains </p></div>
                <hr class="w-75 mx-auto">
              </div>
            
           <div class="row">
          <h6 class="card-title text-center">Small description about  this person</h6>
          <hr class="w-75 mx-auto">
        </div>
        
            <div class="row">
           <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b1.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b2.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b3.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
          <div class="row">
            <button type="button"  class="btn " style=" color:#E22D55;"  data-bs-toggle="modal" data-bs-target="#exampleModal">contact</button>
        </div>
      </div>
</div>
</div>


</div>
<div class="col-lg-4 col-md-4  col-sm-4">
    <div class="card" style="width: 18rem; border-radius: 20px;">
        <img class="card-img-top" src="assets/etu6.png" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <h5 class="card-title text-center">Name surname</h5>
                <div class="row text-center"><p>Domains </p></div>
                <hr class="w-75 mx-auto">
              </div>
            
           <div class="row">
          <h6 class="card-title text-center">Small description about  this person</h6>
          <hr class="w-75 mx-auto">
        </div>
        
            <div class="row">
           <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b1.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b2.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="row">
            <img src="assets/b3.png" class="img-fluid"></div>
         
         <div class="row"><p class="text-center" style="font-size: x-small;">Certificate in 
            Domain</p></div>
        </div>
          <div class="row">
            <button type="button"  class="btn " style=" color:#E22D55;"  data-bs-toggle="modal" data-bs-target="#exampleModal">contact</button>
        </div>
      </div>
</div>
</div>


</div>
     </div>
    </div>
    </div>
    
</section>
<div class="row w-75 mx-auto mt-3 " >
    <div class="col-md-6 col-lg-6 col-sm-6 my-auto"> 
        <h1>Choose to be our  <span style="color: #E22D55;">Partner</span></h1>
        <p class="fs-4">Form your interns and employers with our best<br>
             courses and qualified experts with exceptional<br>
              prices.</p>
              <button class="btn text-white mb-5 px-4  fs-4" style="background-color: #E22D55; border-radius: 50px;" routerLink="courses"> Contact us for more info </button>

    </div>
    <div class="col-md-6 col-lg-6 col-sm-6"><img src="assets/recruit2.png" class="img-fluid"  ></div>
   
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-4"> <img src="assets/etu1.png" class="img-fluid"></div>
                    <div class="col-md-8">
                        <div class="row">
              <h5 class="modal-title" id="exampleModalLabel">Name surname</h5>
            </div>
            <div class="row">
              <p>Domains</p>
            </div>
            <div  class="row">
              <p>Small description about  this person</p></div>
            </div>
            </div>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
<div class="row shadow mb-3" style="border-radius: 15px;">
    <div class="col-md-4 col-lg-4 col-sm-4"><img src="assets/b3.png" class="img-fluid"></div>
    <div class="col-md-8 col-lg-8 col-sm-8">
        <div class="row"><p style="font-size: x-small;">Earned <span class="fw-bold">a Certification in Full-stack developement </span></p></div>
        <div class="row"> <p class="text-secondary"style="font-size: x-small;" >May 1, 2022 • 28/30 Correct</p></div>
    </div>
</div>
<div class="row shadow" style="border-radius: 15px;">
    <div class="col-md-4 col-lg-4 col-sm-4"><img src="assets/b3.png" class="img-fluid"></div>
    <div class="col-md-8 col-lg-8 col-sm-8">
        <div class="row"><p style="font-size: x-small;">Earned <span class="fw-bold">a Certification in Full-stack developement </span></p></div>
        <div class="row"> <p class="text-secondary"style="font-size: x-small;" >May 1, 2022 • 28/30 Correct</p></div>
    </div>
</div>         </div>

                <div class="col-lg-6 my-auto  col-md-6 col-sm-6">
                    <div class="row mx-auto" style="color: #E22D55;">
                       <p>Email :client@gmail.com</p>
                    </div>
                    <div class="row mx-auto" style="color: #E22D55;">

                        <p>Phone:+216 99 999 999</p>
                     </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>