/* styles.css or your-component-styles.css */
.custom-outlined-button {
    color: #E22D55; /* Text color */
    border-color: #E22D55; /* Outline color */
  }
  .p-y{
    padding-top:70px;
    padding-bottom: 70px;
  }
  input[type="text"],
    input[type="tel"],
    textarea {
      border: none;
      border-bottom: 2px solid #E22D55;
      width: 100%;
      padding: 8px 0;
      margin: 10px 0;
    }