
<header  class="row  d-flex justify-content-center p-3 " style="padding-top:100px; ">
  
  
      

  
    <div class="col-md-6 col-lg-6 col-sm-6  my-auto text-uppercase fw-bold  p-3">
      <div class="row">
    
          <h1 class="  mt-5 mx-auto " style=" color: black;    ">Welcome to <span style="color:#E22D55;">Profinity</span><br> Where Education Meets <br> Expertise</h1>
          <div class="col-4 mt-5">
          <button class="btn text-white mb-5 px-4  fs-4" style="background-color: #E22D55; border-radius: 50px;" routerLink="courses"> Courses </button>
        </div>
        
      </div>
      </div>
    
    
      
      <div class="col-md-5 col-lg-5 col-sm-5  d-flex justify-content-center  mt-5   ">
        <img src="assets/home-img.png" class="img-fluid  "  >
      </div>
    
    </header>
    
        <marquee class="d-none d-md-block">
        <div class="row d-flex justify-content-between mb-5">
            <div class="col-1 ">
                <button class="btn  btn-outline-primary custom-outlined-button px-4" 
                style="outline: #E22D55; border-radius: 20px;">Ui/Ux
            </button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55; border-radius: 20px;">3D
</button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55; border-radius: 20px;">Design
</button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55;border-radius: 20px;">Devops
</button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55; border-radius: 20px;">Cloud
</button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55; border-radius: 20px;">Development
</button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55; border-radius: 20px;">Business
</button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55; border-radius: 20px;">Marketing
</button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55; border-radius: 20px;">video editing
</button>
</div>
<div class="col-1">
    <button class="btn  btn-outline-primary custom-outlined-button px-4" 
    style="outline: #E22D55; border-radius: 20px;">Motion design
</button>
</div>

        </div>
    </marquee>
    <h1 class="text-center mb-5 mt-3">Our courses</h1>
    <section >   
       <!-- <img src="assets/khat.png" class="img-fluid"  >-->
        <div class="row mb-3 w-75 mx-auto ">
            <div class="col-lg-8 col-sm-6 p-y mb-2 shadow   text-center" style="background-color:#E22D55; border-radius: 5px;"> 
                <a class="fs-2 text-decoration-none "  style="color: white;" routerLink="Ui/Ux">Ui/Ux</a></div>
          <div class="col-lg-3 col-sm-6 shadow mb-2 text-center my-auto p-y mx-auto " style="background-color: #FEA19A; border-radius: 5px;">
            <a class="fs-2 text-decoration-none "  style="color: white;" routerLink="3D">3D</a>
        </div>
        </div>
        <div class="row mb-3 w-75 mx-auto ">
            <div class="col-lg-3 col-sm-6 p-y shadow mb-2   text-center" style="background-color:#FF355E; border-radius: 5px;"> 
                <a class="fs-2 text-decoration-none "  style="color: white;" routerLink="Ui/Ux">Graphic <br>Design</a></div>
          <div class="col-lg-8 col-sm-6 shadow mb-2 text-center my-auto p-y mx-auto " style="background-color: #E14F6F; border-radius: 5px;">
            <a class="fs-2 text-decoration-none "  style="color: white;" routerLink="3D">Web <Br> Development</a>
        </div>
        </div>
        <div class="row w-75 mx-auto ">
            <div class="col-lg-8 col-sm-6 p-y shadow mb-2   text-center" style="background-color:#FEA19A; border-radius: 5px;"> 
                <a class="
                fs-2 text-decoration-none " 
                 style="color: white;"
                  routerLink="Ui/Ux">Machine Learning</a></div>
          <div class="col-lg-3 col-sm-6 shadow mb-2 text-center my-auto p-y mx-auto " style="background-color: #E22D55; border-radius: 5px;">
            <a class="fs-2 text-decoration-none "  style="color: white;" routerLink="3D">Devops</a>
        </div>
        </div> 
        <a class="fw-light d-flex justify-content-center mt-3 mb-3 text-decoration-none " 
                 style="color:#E22D55;"
                  routerLink="courses">View more</a>
    </section>
    <section class="mt-5">
        <div class="row w-75 mx-auto">
            <div class="col-lg-6 col-md-6 col-sm-6"><h1>Let's introduce <br>ourselves</h1></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="row">
                <p class="fs-3" style="color:#E22D55; text-align: justify; word-spacing: 10px;">Where Education Meets Proficiency</p>
            </div>
            <div class="row"><p style="color:#6C6C6C; text-align: justify;">
                Profinity is your dynamic knowledge ecosystem,
                 empowering learners to rapidly acquire valuable skills. 
                 We connect a community of experts, professionals,
                 and students, creating opportunities 
                 for collaboration and continuous improvement."</p></div>
            </div>
        </div>
    </section>
    <section>
        <h1 class="d-flex justify-content-center mt-3 mb-3">Our Team</h1>
        <div class="row w-75 mx-auto">
            <div class="col-lg-4  col-md-4 col-sm-4">
                <div class="row d-flex justify-content-center "><img src="assets/female.png" class="img-fluid w-75"  ></div>
                <div class="row text-center fs-3"> <p style="color: #E22D55;"> Yosra Jebari</p></div>
                <div class="row d-flex justify-content-center fs-5">Ui/Ux designer</div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
                <div class="row d-flex justify-content-center "><img src="assets/male.png" class="img-fluid w-75"  ></div>
                <div class="row text-center fs-3"> <p style="color: #E22D55;"> Mahdi Mejri</p></div>
                <div class="row d-flex justify-content-center fs-5">Developer</div>
            </div>
            <div class="col-lg-4  col-md-4 col-sm-4">
                <div class="row d-flex justify-content-center "><img src="assets/female.png" class="img-fluid w-75"  ></div>
                <div class="row text-center fs-3"> <p style="color: #E22D55;"> Mariem El Atrouss</p></div>
                <div class="row d-flex justify-content-center fs-5">Digital Marketer</div>
            </div>
        </div>
    </section>
   <section>
    <h1 class="text-center mt-5 mb-5">Why choose us</h1>
    <div class="row w-75 mx-auto">
        <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="card text-center shadow" style="width: 18rem; border-radius: 20px; height: 250px;">
            <div class="card-body">
              <h5 class="card-title mt-3">Creativity and Innovation</h5>
              
              <p class="card-text">At Profinity Solutions,
                 we thrive on creativity and innovation. Our team
                   brings a fresh perspective to every project, crafting 
                   visually stunning designs that captivate audiences. </p>
              
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 mx-auto col-sm-4 mt-3">
        <div class="card shadow text-center" style="width: 18rem; border-radius: 20px; height: 250px; background-color: #E22D55;">
            <div class="card-body " >
              <h5 class="card-title text-white mt-3">Seamless Design-Development Integration</h5>
              
              <p class="card-text text-white">we understand the importance of a seamless design-development integration. 
                Our expert team seamlessly bridges the gap between design and frontend development. </p>
              
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 mt-3">
        <div class="card text-center shadow " style="width: 18rem; border-radius: 20px; height: 250px;">
            <div class="card-body">
              <h5 class="card-title mt-3">Client-Centric Approach</h5>
              
              <p class="card-text">Our clients are at the heart of everything we do. We believe in building strong and 
                collaborative relationships,
                 taking the time to truly understand. </p>
              
            </div>
          </div>
    </div>
</div>
   </section>
   <section>
    <h1 class="d-flex justify-content-center mt-4 mb-4">FAQs</h1>
    <div class="row w-75 mx-auto"><div class="accordion w-100" id="basicAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
              data-bs-target="#basicAccordionCollapseOne" aria-expanded="false" aria-controls="collapseOne">
              Question 1
            </button>
          </h2>
          <div id="basicAccordionCollapseOne" class="accordion-collapse collapse text-white" aria-labelledby="headingOne"
            data-bs-parent="#basicAccordion" style="background-color:#E22D55;">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default,
              until the collapse plugin adds the appropriate classes that we use to style each
              element. These classes control the overall appearance, as well as the showing and
              hiding via CSS transitions. You can modify any of this with custom CSS or overriding
              our default variables. It's also worth noting that just about any HTML can go within
              the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#basicAccordionCollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Question 2
            </button>
          </h2>
          <div id="basicAccordionCollapseTwo" class="accordion-collapse text-white collapse" aria-labelledby="headingTwo"
            data-bs-parent="#basicAccordion" style="background-color:#E22D55;" >
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default,
              until the collapse plugin adds the appropriate classes that we use to style each
              element. These classes control the overall appearance, as well as the showing and
              hiding via CSS transitions. You can modify any of this with custom CSS or overriding
              our default variables. It's also worth noting that just about any HTML can go within
              the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
              Question 3
            </button>
          </h2>
          <div id="basicAccordionCollapseThree" class="accordion-collapse text-white collapse" aria-labelledby="headingThree"
            data-mdb-parent="#basicAccordion" style="background-color:#E22D55;">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default,
              until the collapse plugin adds the appropriate classes that we use to style each
              element. These classes control the overall appearance, as well as the showing and
              hiding via CSS transitions. You can modify any of this with custom CSS or overriding
              our default variables. It's also worth noting that just about any HTML can go within
              the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div></div>
   </section>
   <section>
    <h1 class="d-flex justify-content-center mt-5">Contact Us </h1>
    <p class="fs-3 mt-3 mb-3 d-flex justify-content-center" style="color: #E22D55;">Free informative session with Google Meet</p>
   <div class="row w-75 mx-auto mb-4 mt-4">
    <div class="col-lg-6 col-md-6 col-sm-6"> <img src="assets/contact.png" class="img-fluid w-75 "  ></div>
    <div class="col-lg-6 col-md-6 col-sm-6 my-auto">
        <form>
            <input type="text" id="name" name="name" placeholder="Name" required>
            <input type="text" id="lastname" name="lastname" placeholder="Last Name" required>
            <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>
            <textarea id="message" name="message" placeholder="Message (describe your interest)" required></textarea>
            <button  class="btn  float-end fw-bold"  style="color:white; background-color: #E22D55;"> Submit</button>
          </form>
    </div>
   </div>
   </section>
