<header class="row" style="background-image: url(assets/coverexpert.png); background-repeat: no-repeat; background-size: cover; padding-bottom: 300px; padding-top:200px;  ">

</header>
<h1 class=" text-center mt-4 mb-4">
    Request  a  <span style="color: #E22D55;"> Meeting  </span>with this<br> Expert.
</h1>
  
<div class="row w-75 mx-auto">
<div class="col-md-6 col-lg-6 col-sm-6 my-auto">
    <div class="row mx-auto mb-3 ">
        <div class="col-md-6 col-lg-6 col-sm-6 ">
            <button class="btn  btn-outline-primary custom-outlined-button px-4" 
            style="outline: #E22D55; border-radius: 20px;">15 Min
        </button></div>
        <div class="col-md-6 col-lg-6 col-sm-6"> <p class="fs-6 fw-bold" style="color: #E22D55;">30 DT</p></div>
    </div>
    <div class="row mx-auto mb-3 ">
        <div class="col-md-6 col-lg-6 col-sm-6 ">
            <button class="btn  btn-outline-primary custom-outlined-button px-4" 
            style="outline: #E22D55; border-radius: 20px;">30 Min
        </button></div>
        <div class="col-md-6 col-lg-6 col-sm-6"> <p class="fs-6 fw-bold" style="color: #E22D55;">50 DT</p></div>
    </div>
    <div class="row mx-auto ">
        <div class="col-md-6 col-lg-6 col-sm-6 ">
            <button class="btn  btn-outline-primary custom-outlined-button px-4" 
            style="outline: #E22D55; border-radius: 20px;">60 Min
        </button></div>
        <div class="col-md-6 col-lg-6 col-sm-6"> <p class="fs-6 fw-bold" style="color: #E22D55;">90 DT</p></div>
    </div>
    <div class="row d-flex justify-content-center mt-3 ">
     <a class="btn text-white w-25" style="background-color: #AFD9B1; border-radius: 20px;" [routerLink]="['/payment']"> Send Request</a>
    </div>
</div>
<div class="col-md-6 col-lg-6 col-sm-6"><img src="assets/schedule.png" class="img-fluid"></div>
</div>